<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <title>Exercice Blog Articles</title>
</head>

<body>

<!--HEADER + LINK ARTICLE-->
<header>
    <nav>
        <ul class="menu">
            <div><img class ="imgResp" src="https://symfony.com/logos/symfony_black_03.png" alt="Logo Symfony"></div>
            <li><a href="{{ path("article", {'id' : 1}) }}">Article 1</a></li>
            <li><a href="{{ path("article", {'id' : 2}) }}">Article 2</a></li>
            <li><a href="{{ path("article", {'id' : 3}) }}">Article 3</a></li>
        </ul>
    </nav>
</header>
