{% include 'common/_header.html.twig' %}
<!--LIST OF ARTICLE/ID: La condition ci-après me permet d'afficher
l'article souhaité en fonction de son statut : Si publié ou non-->
<section>
    {% if articles.published %}
        <div id="margin">
        <img src="{{ articles.image }}">
        <h2>
    {{ articles.title }}
        </h2>
        <p>
    {{ articles.content }}
        </p>
    {% else %}
        <p>
            l'article demandé est introuvable
        </p>
    {% endif %}
        </div>
</section>

{% include 'common/_footer.html.twig' %}
