{% include 'common/_header.html.twig' %}
<!--LIST OF ALL MY ARTICLES : La boucle ci-après me permet d'afficher
tous les articles disponibles-->
<section>
    {% for article in articles %}
        <div id="margin">
            <img src="{{ article.image }}">
            <h2>
            {{ article.title }}
            </h2>
            <p>
            {{ article.content }}
            </p>
        </div>
    {% endfor %}
</section>

{% include 'common/_footer.html.twig' %}